.form-login {
  display: flex;
  flex-direction: column;
  margin: 4px auto;
  width: 30%;
}

.login-field {
  display: flex;
  flex-direction: column;
}

.login-field > label {
  font-size: 0.9rem;
}

.login-field input {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
  padding: 10px 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .form-login {
    width: 90%;
  }

  .sm-1 {
    font-size: 1.5rem;
  }
}
