nav {
  justify-content: space-between;
  padding: 2% 5%;
  border-bottom: 1px solid var(--badge-border-color);
}

.header {
  align-items: center;
  gap: 10px;
}

nav img {
  width: 100px;
}

.navlinks {
  gap: 8px;
  display: flex;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  color: blue;
  padding: 9px;
}

.navlinks a:last-child {
  border-left: 2px solid black;
  padding-left: 8px;
}

.navlinks a.active {
  text-decoration: underline;
}

.link:hover {
  background-color: blueviolet;
  color: white;
  border-radius: 8px;
  padding: 9px;
}

.hambuger-btn {
  display: none;
}

.mobile-menu {
  display: none;
}

.show {
  display: flex;
}

@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
  }

  .navlinks {
    display: none;
  }

  .hambuger-btn {
    display: block;
    background: transparent;
    border: none;
    font-size: 2rem;
  }

  nav img {
    width: 50px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: brightness(60%);
    padding: 0;
    z-index: 10;
  }

  .mobile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: cornflowerblue;
    padding: 20px 0;
    text-align: center;
  }

  .mobile-options {
    width: 60%;
    min-height: 100vh;
    background-color: white;
  }

  .link-option {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
  }
}
