nav {
  justify-content: space-between;
  padding: 2% 5%;
  border-bottom: 1px solid var(--badge-border-color);
}

.header {
  align-items: center;
  gap: 10px;
}

nav img {
  width: 100px;
}

.navlinks {
  gap: 8px;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  color: blue;
  padding: 9px;
}

.navlinks a:last-child {
  border-left: 2px solid black;
  padding-left: 8px;
}

.navlinks a.active {
  text-decoration: underline;
}

.link:hover {
  background-color: blueviolet;
  color: white;
  border-radius: 8px;
  padding: 9px;
}

@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
  }

  .navlinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  nav img {
    width: 50px;
  }
}
