
.flex {
  display:flex;
}

.flex-1 {
  flex:1;
}

.flex-2 {
  flex:2;
}

.align-center {
  align-items: center;
}

.gap-2 {
  gap: 20px;
}

.margin-0 {
  margin: 0;
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-12 {
  font-size: 1.2rem;
}


.border-gray {
  border: 1px solid gray;
}

.p-1 {
  padding: 10px;
}

.px-1 {
  padding-inline: 10px;
}

.font-bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.container {
  width: 80%;
  margin-inline: auto;
}
